body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
}

button {
  font-size: 3rem;
  width: 20%;
  background-color: lightblue;
  border-radius: 200px;
  border: none;
  margin: 5px;
  flex-grow: 1;
}

button#clear {
  flex-grow: 1;
  width: 45%;
}

button:hover {
  background-color: rgb(40, 205, 40);
}

footer {
  font-size: 1.5rem;
}
.calc {
  margin-top: 10%;
  width: 500px;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  border: 10px solid rgb(46, 46, 46);
  border-radius: 12px 12px 2px 2px;
  background-color: lightgray;
  padding: 20px;
}

.outer {
  background-color: green;
}

.inner {
  background-color: rgb(102, 231, 102);
}

#container-display {
  font-size: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border-radius: 5px;
  height: 150px;
}

#display {
  color: white;
}
